@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui";

/* Fonts */
html,
body,
:root {
  font-family: 'Exo', sans-serif;
  min-height: 220px;
  min-width: 320px;
  padding: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Public Sans', sans-serif;
}

/* Customize */
@utility btn {
  @apply btn-primary;
  @apply btn-outline;
  @apply mt-6 mb-6;
}

@utility prose {
  @apply prose-sm;
  @apply text-sm/5;
}

/* Config */
@plugin "daisyui" {
  themes:
    sunset --default,
    lofi --prefersdark;
}
